// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$mid-color: #396A92;
$light-color: #9AB4CB;

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-pianobar {

  background-color: $mid-color;

  .title, p {
    color: $light-color;
  }

  .artist, .songtitle {
    color: #FDFDFD;
    font-size:25px;
  }

  &.large h3 {
    font-size: 65px;
  }
}
